{% extends "admin/admin.html" %}

{% block admin_view %}

    <div class="col-sm-12">
        <ul class="venueTiles">
        {% for venue in venues %}
            <li class="tile col-sm-2">
                <a class="tile-target col-sm-12" href="{{ url_for('.venue_editor', venue_slug=venue.slug) }}" >
                    <span class="text">{{ venue.name }}</span>
                </a>
            </li>
        {% endfor %}

            <li class="tile col-sm-4">
                <input type="text" class="" placeholder="Church or School name" id="venue_name" style="width: 100%;">
                type the name, select the result and hit enter
            </li>
        </ul>
    </div>

    <div id="map" style="width: 100%;height: 100vh;"></div>

{% endblock %}

{% block script_include %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKp2Onc9BNf6JnTP_1nRTxVY0mDov1Nhg&v=3&libraries=places"></script>
    <script src="/static/js/partials/sweetalert2.min.js"></script>
    <script>
        var newVenue = new AddNewVenue();
    </script>
{% endblock %}