html {
  background: $color-grey-0;
  color: $color-grey-3;
  font-size: 100%;
  min-height: 100vh;
}

body {
  font: normal 300 1em/1.625em $font-sans;
  min-height: 100vh;
  overflow-y: scroll;
}

.base {
  align-content: flex-start;
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;

  & .sidebar {
    background: $color-white;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
  }

  & .stage {
    flex-grow: 1;
  }
}
.article {
  margin-bottom: 5em;

  & .article-aside {
    color: $color-white;
    background: $color-forest;
    box-shadow: -10px 30px 100px rgba(0,0,0,0.4);
    padding: 3em 2em;

    &.mod-overlap {
      margin-top: -4em;
      padding-top: 5.625em;
      padding-bottom: 5.625em;
    }
  }
  & .attachment-thumbnail {
    display: none;
  }

  & h3 {
    font: normal 700 1.25em/1.625em $font-sans;
    margin-bottom: 1em;
  }

  & blockquote {
    font: normal 300 1.625em/1.625em $font-sans;
    margin-bottom: 1em;
    margin-top: 1em;

    & strong {
      font-weight: 400;
    }

    //&:last-of-type {
    //  font: normal 1.25em/1.625em $font-sans;
    //  margin-top: 2em;
    //}
  }

  & .avia_textblock {
    font-size: 0.875em;
    margin-top: 3em;
  }

  & .printfriendly {
    display: none;
  }

}

@include media("<sm") {
  main {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}