a {
  color: $color-marine;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

p + p {
    margin-top: 1.65em;
  }

.link-offsite {
  &:after {
    content: '\f08e';
    font: normal 0.75em/1 FontAwesome, sans-serif;
    margin-left: 0.25em;
  }
}

p a:hover, :focus {
  //background: $color-marine;
  //color: $color-white;


}

.page-title {

  &.mod-index {
    font: normal 6.25em/1em $font-fancy;
    color: $color-white;
  }
  &.mod-hero {
    font: normal 2.625em/1.3em $font-fancy;
    color: $color-white;
  }
  &.mod-helper {
    font: normal 1.25em/1.5em $font-sans;
    margin-top: 1em;
  }
}

.headline {
  font: normal 400 1.625em/1.625em $font-sans;
  margin-bottom: 1em;
}

.blockquote {
  font: normal 300 1.625em/1.625em $font-sans;
  margin-bottom: 2em;
  margin-top: 2em;

  & footer {
    font-weight: 400;
  }
}