<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block meta_title %}{% endblock %} | Welspring</title>

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Asap+Condensed:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.min.css')}}" >
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}" />

</head>
<body>
    <section class="container header">
{#        <div class="col-sm-1 hamburger-wrap">#}
{#            <button class="hamburger hamburger--spin" type="button">#}
{#                <span class="hamburger-box">#}
{#                    <span class="hamburger-inner"></span>#}
{#                </span>#}
{#            </button>#}
{#        </div>#}
        <nav class="col-sm-4">
            <ul class="">
                {% for item in nav.top %}
                <li class=" {{ 'is-active' if item.is_active else '' }}">
                    <a class="menu-target" href="{{ item.url }}">{{ item.label }}</a>

                    {% if item.items %}
                    <ul>
                        {% for child in item.items %}
                        <li class="{{ 'is-active' if child.is_active else '' }}">
                            <a class="menu-target" href="{{ child.url }}">{{ child.label }}</a>
                        </li>
                        {% endfor %}
                    </ul>

                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="col-sm-7">
            <h1 class="title"></h1>
        </div>
    </section>

    <main class="">
        {% block content %}{% endblock %}
    </main>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes" style="display: none;">
            {% for category, message in messages %}
                <li data-type="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <script src="{{url_for('static', filename='js/partials/jquery-1.7.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/partials/locator.js')}}"></script>
    <script src="{{url_for('static', filename='js/partials/app.js')}}"></script>
    {% block script_include %}{% endblock %}

</body>
</html>