{% extends "base.html" %}

{% block meta_title %}
    Resources for the PNW Lutheran
{% endblock %}

{% block content %}

    <header class="hero mod-index">
        <div class="container">
            <div class="col-md-8">
                <h1 class="page-title mod-index">Welcome to the Welspring</h1>
                <p class="page-title mod-helper">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor in ipsa
                    molestias
                    nihil
                    odit
                    possimus!</p>

            </div>

        </div>

    </header>

    <main class="container">

        {# MAIN CONTENT #}
        <article class="col-md-8">

            {# VERSE OF THE DAY #}
            <blockquote class="blockquote" cite="https://www.biblegateway.com/">

                <p>{{ ''.join(verse_of_day.body.partition('<br />')[:2])|safe }}</p>

                <footer>
                    <a href="https://www.biblegateway.com/">{{ verse_of_day.subtitle }}</a>
                </footer>

            </blockquote>

            <section class="row">
                <div class="col-md-6">
                    <div class="card mod-bg-img" style="background-image:url('/static/img/bible.jpg')">
                        <div class="content">
                            <i class="fa fa-map-marker icon"></i>
                            <h2 class="headline">Find a Church family</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis distinctio doloribus ea
                                in officia quae.</p>
                            <a href="{{ url_for('type_locator_controller', search_type='church') }}" class="btn
                            mod-ghost mod-white">Get started</a>
                        </div>
                        <div class="overlay mod-dash"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mod-bg-img" style="background-image:url('/static/img/classroom.jpg')">
                        <div class="content">
                            <i class="fa fa-institution icon"></i>
                            <h2 class="headline">Find a Lutheran School</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis distinctio doloribus ea
                                in officia quae.</p>
                            <a href="{{ url_for('type_locator_controller', search_type='school') }}" class="btn
                            mod-ghost mod-white">Get started</a>
                        </div>
                        <div class="overlay mod-mac"></div>
                    </div>
                </div>
            </section>

            <section class="row">
                <header class="col-md-8">
                    <br><br>
                    <h1 class="headline">What we believe</h1>
                </header>
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aliquid consequuntur
                        cupiditate distinctio exercitationem facilis in iste iure, maiores minus nam perspiciatis quod, rem
                        repudiandae sit temporibus, tenetur voluptatum. Animi consequuntur, esse eveniet exercitationem
                        expedita facere magnam molestiae quibusdam.</p>
                    <p>Alias aliquam assumenda autem, cum cupiditate earum facilis in natus nesciunt nihil numquam, odit
                        quas quia sapiente similique sit, sunt tempora velit? Alias amet architecto deserunt, illo incidunt
                        laborum magni optio porro quasi quidem quisquam tempora tempore, vel vitae voluptas.</p>
                </div>
            </section>
        </article>

        {# SIDEBAR #}
        <div class="col-md-4">
            <div class="aside mod-boxed">
                <h3 class="headline">We are a community</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio eos in minus quam.</p>
                <br>
                <ul style="padding-left:1.5em;">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Accusantium recusandae reiciendis tenetur veniam!</li>
                    <li>Ea incidunt iusto repudiandae vel.</li>
                    <li>Doloribus nesciunt quia rem tempora!</li>
                </ul>
            </div>
            <ul class="social-feed">
            {% for tweet in tweets %}
                <li class="item">
                    <i class="fa fa-twitter item-icon"></i>
                    <p class="item-text">{{ tweet['text']|safe }}</p>
{#                    {{ tweet['created_at'] }}<br>#}
{#                    favs: {{ tweet['favorite_count'] }}<br>#}
{#                    retweets: {{ tweet['retweet_count'] }}#}
                </li>
            {% endfor %}
            </ul>
        </div>
    </main>
{#    Intro to School Locator #}

{#    Intro to Church Locator #}

{% endblock %}