{% extends "base.html" %}

{% block meta_title %}
    Find Your Lutheran Community
{% endblock %}

{% block content %}

    <input type="text" id="mapSearch">
    <div id="map-wrap" class="results">
        <div id="map" class="results-map" style="width: 100%; height: 100vh;"></div>
    </div>


{% endblock %}

{% block script_include %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSCuetIxeeLbIB3D8cpS93Cg8815CUrF4&v=3&libraries=places"></script>

    <script>
        $( function () {

            {# Kickoff the MapBuilder Class #}
            var map = new MapBuilder();

        } );
    </script>


{% endblock %}