{% extends "base.html" %}

{% block meta_title %}
    Find Your Lutheran Community
{% endblock %}

{% block content %}

    <input type="text" id="mapSearch">
    <div id="map-wrap" class="results">
        <div id="map" class="results-map" style="width: 100%; height: 100vh;"></div>
    </div>

    <article class="location-detail">
        <header class="location-header">
        {# Header background is image from web #}
            <h1 id="locationName" class="headline"></h1>
            <p id="locationAddress" class="address"></p>
            <button class="location-detail-close">&times;</button>
        </header>
        <div class="location-body">
            <div class="location-body-main">
                <p id="locationSummary"></p>

                <a id="locationLinkBtn" href="#" class="btn">Go to website</a>
                <a id="locationDirectionsBtn" href="#" class="btn">Get directions</a>
            </div>
            <div class="location-body-aside">
                <h2 class="subheadline">Contact</h2>
                <p id="locationWebsite"><a href="#"></a></p>
                <p id="locationPhone"></p>
                <p id="locationAdmin"></p>
                <h2 class="subheadline">Service Times</h2>
                <span id="serviceTimes"></span>
            </div>
        </div>
    </article>


{% endblock %}

{% block script_include %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSCuetIxeeLbIB3D8cpS93Cg8815CUrF4&v=3&libraries=places"></script>

    <script>
        $( function () {

            {# Kickoff the MapBuilder Class #}
            var map = new MapBuilder();

        } );
    </script>


{% endblock %}